h1 {
	border: 15px solid darkblue;
	border-radius:  20px;
	background-color: white;
	padding: 100px;
	margin: 20px;
	

}

p {
	border: 15px dotted darkblue;
	border-radius: 20px;
	text-align: right;
	background-color: white;
	padding: 100px;
	font-size: 30px;
    margin:20px;
	
}

body {
	background-color: blue;
}