
nav {
background: linear-gradient(90deg, rgba(31,221,9,1) 31%, rgba(0,255,132,1) 81%, rgba(27,225,23,1) 100%);
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	height: 10%;

	
}
img {
	height: 80px;
}
 h1 {
	text-align: center;
}
nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	text-decoration: none;
}
nav ul li a {
	margin: 10px;
	padding: 20px;
	background-color: white;
	color: red;
	border-radius: 10px
}
section {
	padding: 200px;
}
#section0 {
	padding: 10px;
	background: linear-gradient(90deg, rgba(20,224,202,1) 25%, rgba(0,212,255,1) 54%, rgba(11,35,111,1) 100%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#section1 {
	background: linear-gradient(90deg, rgba(20,224,202,1) 25%, rgba(0,212,255,1) 54%, rgba(11,35,111,1) 100%);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#section2 {
	background: linear-gradient(90deg, rgba(210,0,228,0.6474964985994398) 3%, rgba(141,16,213,1) 67%);
	display: flex;
	justify-content: space-around;
	align-items: center;

}

#section3 {
	background:  linear-gradient(90deg, rgba(136,114,46,0.6474964985994398) 13%, rgba(228,187,0,0.6474964985994398) 51%, rgba(228,187,0,0.6474964985994398) 76%);
	display: flex;
	justify-content: space-around;
	align-items: center;
	}
:root {
	scroll-behavior: smooth;
}
footer {
display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 300px;
	background:rgb(179, 110, 105);
}
footer p {
padding: 30px;
	font-size: 20px;
	color: steelblue;
	background-color: white;
}
nav ul li a:hover {
	background-color: yellow;
	color: red;
}
section p {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}
section img {
	width: 300px;
	height: 150px;

} 
#section2 img {
	width: 50%;
	height: 30%;
}
#section3 img {
	width: 80%;
	height: 30%;
}
html, body {
    margin: 0;
    padding:0; 
    }
.one {
display: inline-block;
width: 20%;
font-size: 10px;
border: 1px solid grey;
}
.two {
display: inline-block;
width: 20%;
font-size: 10px;
border: 1px solid grey;
}
.three {
display: inline-block;
width: 20%;
font-size: 10px;
border: 1px solid grey;
}
.four {
display: inline-block;
width: 20%;
font-size: 10px;
border: 1px solid grey;
}
.five {
display: inline-block;
width: 10%;
font-size: 10px;
border: 1px solid grey;
}
.six {
display: inline-block;
width: 20%;
font-size: 10px;
border: 1px solid grey;
}
.seven {
	display: inline-block;
width: 20%;
font-size: 10px;
border: 1px solid grey;
}
.eight {
	display: inline-block;
width: 20%;
font-size: 10px;
border: 1px solid grey;
}
.nine {
	display: inline-block;
width: 20%;
font-size: 10px;
border: 1px solid grey;
}
.ten {
	display: inline-block;
width: 10%;
font-size: 10px;
border: 1px solid grey;
}
main {
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center;

}
.one:hover{
background-color: white;
}
.two:hover{
	background-color:white ;
}
.three:hover{
	background-color:white ;
}
.four:hover{
	background-color:white ;
}
.five:hover{
	background-color:white ;
}
.six:hover{
	background-color:white ;
}
.seven:hover{
	background-color:white ;
}
.eight:hover{
	background-color:white ;
}
.nine:hover{
	background-color: white;
}
.ten:hover{
	background-color: white;
}
.five img {
	width: 100%;
}

.two img {
	width: 100%;
}
.three img {
	width: 100%;
}
.eight img {
	width: 100%;
}
.nine img {
	width: 100%;
}
.ten img {
	width: 100%;
}

.text {
	background-image: url(text.jpg);
	background-size: cover;
	background-position: center;
}
p {
	text-align: center;
}
.div {
	width: 50%;
}
.div2 {
	width: 50%;
}
.div1 {
	width: 50%;
}
nav h1 {
	font-family: 'Roboto Flex', sans-serif;
}
