*{
	/* nav articl und side passen nicht zusammen mit dem pdding weil sie groesser als 100% sind*/
box-sizing: border-box;
margin: 0;
padding: 0;
word-wrap: break-word;
}


/*Design fur das Handy*/

header,nav,article,aside{
	width: 100%;
}


header {
	background-color: lightgrey;
	padding: 25px;
}

nav {
	background-color: lightcoral;
	padding: 25px;

}
article {
	background-color: yellow;
	padding: 25px;
	
}
aside {
	background-color: green;
	padding: 25px;
	
}




body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

@media(min-width: 600px) {

	li {
		display: inline;
	}

article {
	width: 60%;
	float: left;
}


aside {
	width: 40%;
	float: left;
}

}

/*Design fur Desktop*/


@media(min-width: 768px){

	header {
	background-color: lightgrey;
	padding: 25px;
}

li {
	display: block;
}
nav {
	background-color: lightcoral;
	width: 25%;
	padding: 25px;
	float: left;
}
article {
	background-color: yellow;
	width: 50%;
	padding: 25px;
	float: left;
}
aside {
	background-color: green;
	width: 25%;
	padding: 25px;
	float: left;
}

#container {
	/*Kurze zeilen sind besser zu lesen daher breite ist 70%*/
	width: 70%;
	margin: auto; 
}
}




