@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@200&display=swap');
h1 {
	text-align: center;
	font-family: font-family: 'Raleway', sans-serif;
font-size: 15px;
}
h2 {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 10px;
}
.a {
	column-count: 3;
	font-family: 'Raleway', sans-serif;
	border: 5px dotted black;
}
#b {
display: flex;
justify-content: center;
align-items: center;
background: radial-gradient(circle, rgba(9,9,231,1) 0%, rgba(0,212,255,1) 24%, rgba(16,11,111,1) 93%);
border:5px dotted black;
margin: 10px;
}
#b p {
	background-color: rgba(255,255,255,0.8);
	padding: 40px;
}
.c {
	background-color:lightblue ;
	border:5px dotted black;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 0px;
}
.c p {
	background-color: white;
	height: 100px;
	margin: 0px;
}
img {
	width: 5%;
	border: 3px solid white; 
}
#d {
	display: flex;
	justify-content: center;
	align-items: center;
	border:5px dotted black;
	padding: 30px;
	background-color: blue;
	margin: 10px;
}
footer {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	border:5px dotted black;
   height: 170px;
	background: linear-gradient(90deg, rgba(16,11,111,1) 100%, rgba(9,9,231,1) 100%, rgba(0,212,255,1) 100%);
    
		}
footer p {
background-color: white;
padding: 10px;
margin: 0px;
}
